*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Radio Canada', sans-serif;
    line-height: 1.8;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* left side */
.left__container{
    width: 34vw;
    height: 100vh;
    position: relative;
    /* background: url(./images/forest.jpeg) center/cover; */

}

.left__container div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 25%;
    background-color: rgb( 0 0 0 /.2);
    padding: 20px;
    width: 34vw;
}

.left__container h1{
    top:25%;

}
/* controls logo on the left side */
.left__container i{
    font-size: 2em;
}




/*-- MAIN FORM CONTROL AREA --  */

/* right side */
.right__container{
width: 66vw;
display: flex;
flex-direction: column;
height: 100vh;
justify-content: space-around;
}
/* texts above form */
.right__heading{
    font-weight: 800;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 80px 50px 20px 50px;
    font-size: .9em;
}

/* we are sorry above form */
.right__heading p{
    font-style: italic;
    font-size: 1.3em;
    font-weight: bolder;
}

/* box shadow on form */
.form__section{
    box-shadow: -2px 5px 13px 0px rgb(0 0 0 / 20%);
    padding: 70px 40px;
    width: 100%;
    position: relative;
}
/* lets start portion on top of form */
.form__heading{
    font-size: 1.2em;
    font-weight: 700;
    position: absolute;
    top: 20px;
}

/*  make sure pairings are on the same horizontal axis */
form div{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    width: 800px;
    
}

.form__group input{
    width: 250px;
    height: 27px;
    appearance: none;
    border: solid rgba(133, 131, 131, 0.2) 2px;
    border-radius: 3px;
}


/* makes the label show on top of the input sections of the form and places it to the left */

.form__subGroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.form__submitBtn{
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 50px;
    gap: 20px;
    bottom: 40px;
    position: relative;
}
/* prevents submit from taking full width */
.submit{
    height: 30px;
    width: 200px;
    appearance: none;
    border-radius: 5px;
    border:none;
}

.form__submitBtn a{
    text-decoration: none;
}