*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Radio Canada', sans-serif;
    line-height: 1.8;
}

:root{
--backGroundColor : #3a4c37;

}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* left side */
.left__container{
    width: 34vw;
    height: 100vh;
    position: relative;
    background: url(./images/forest.jpeg) center/cover;

}
/* controls the logo background color and position */
.left__container div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 15%;
    background-color: rgb( 0 0 0 /.2);
    height: 135px ;
    width: 34vw;

}

.left__container h1{
    color: white;
    font-family: 'VT323', monospace;
    font-size: 2.2em;
    

}
/* controls logo on the left side */
.left__container i{
    font-size: 2em;
    color: yellow
}




/*-- MAIN FORM CONTROL AREA --  */

/* right side */
.right__container{
width: 66vw;
display: flex;
flex-direction: column;
height: 100vh;
justify-content: space-evenly;
background-color: rgb(238, 244, 238);

}
/* texts above form */
.right__heading{
    font-weight: 800;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 30px 10px 30px;
    font-size: .9em;
    
}

/* we are sorry above form */
.right__heading p{
    font-style: italic;
    font-size: 1.3em;
    font-weight: bolder;
}

/* box shadow on form */
.form__section{
    box-shadow: -2px 5px 13px 0px rgb(0 0 0 / 20%);
    padding: 50px 40px 20px 40px;
    width: 100%;
    position: relative;
    top: -50px;
    background-color: #f9fdf7;
}
/* lets start portion on top of form */
.form__heading{
    font-size: 1.2em;
    font-weight: 700;
    position: absolute;
    top: 10px;
}

/*  make sure pairings are on the same horizontal axis */
form div{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    width: 800px;
}

.form__group{
    margin-bottom: 12px;
}

.form__group input{
    width: 250px;
    height: 34px;
    appearance: none;
    border: solid rgba(133, 131, 131, 0.2) 2px;
    border-radius: 3px;
}


/* makes the label show on top of the input sections of the form and places it to the left */

.form__subGroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.form__submitBtn{
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 20px;
    position: relative;
    top: -70px;
    padding-left:40px ;

}
/* prevents submit from taking full width */
.submit{
    height: 40px;
    width: 200px;
    appearance: none;
    border-radius: 5px;
    border:none;
    background-color: var(--backGroundColor);
    font-size: 1.1em;
    color: white;
    cursor: pointer;

    
}

.form__submitBtn p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}
.form__submitBtn a{
    text-decoration: none;
    color: var(--backGroundColor);
    font-weight: 800;
}